<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vertigo.azurewebsites.net/webapi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vertigo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vertigo/webapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vertigo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User ID=VertigoWebApp@i1hjlnumpw;Password=Fytrew34" Name="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User Id=VertigoWebApp@i1hjlnumpw;Password=Fytrew34" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User ID=VertigoWebApp@i1hjlnumpw;Password=Fytrew34" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User Id=VertigoWebApp@i1hjlnumpw;Password=Fytrew34;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbEntities" Order="2" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User ID=VertigoWebApp@i1hjlnumpw;Password=Fytrew34" Name="Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User Id=VertigoWebApp@i1hjlnumpw;Password=Fytrew34" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=i1hjlnumpw.database.windows.net;Initial Catalog=vertigoAhEdHRyO5;Persist Security Info=True;User ID=VertigoWebApp;Password=Fytrew34;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EdModel.csdl|res://*/EdModel.ssdl|res://*/EdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=i1hjlnumpw.database.windows.net;initial catalog=vertigoAhEdHRyO5;persist security info=True;user id=VertigoWebApp;password=Fytrew34;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EdModel.csdl|res://*/EdModel.ssdl|res://*/EdModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:i1hjlnumpw.database.windows.net,1433;initial catalog=vertigoAhEdHRyO5;user id=VertigoWebApp@i1hjlnumpw;password=Fytrew34;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i1hjlnumpw.database.windows.net,1433;Initial Catalog=vertigoAhEdHRyO5;User Id=VertigoWebApp@i1hjlnumpw;Password=Fytrew34</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>